#!/usr/bin/make -f

DEST = $(CURDIR)/debian/tmp
COMPILED_BASE = $(CURDIR)/Platform/Linux-x86/
COMPILED_BIN = $(COMPILED_BASE)/Bin/Release
COMPILED_LIB = $(COMPILED_BASE)/Redist/Include

prefix = /usr
bindir = $(prefix)/bin
libdir = $(prefix)/lib
includedir = $(prefix)/include
docdir = $(prefix)/share/doc

%:
	dh $@ --buildsystem=makefile

override_dh_auto_build:
	cd Platform/Linux-x86/CreateRedist && LDFLAGS=-lGL ./RedistMaker

override_dh_auto_install:
	install -d $(DEST)/$(bindir)
	install -p $(COMPILED_BIN)/niLicense \
		$(COMPILED_BIN)/niReg \
		$(DEST)/$(bindir)
	install -d $(DEST)/$(libdir)
	install -p $(COMPILED_BIN)/libnimMockNodes.so \
		$(COMPILED_BIN)/libnimCodecs.so \
		$(COMPILED_BIN)/libnimRecorder.so \
		$(COMPILED_BIN)/libOpenNI.so \
		$(DEST)/$(libdir)
	install -d $(DEST)/$(includedir)/ni
	install -p $(COMPILED_LIB)/*.h \
		$(DEST)/$(includedir)/ni
# Makefiles needed by (at least) PrimeSense Sensor
	install -p $(COMPILED_LIB)/*Makefile \
		$(DEST)/$(includedir)/ni
	install -d $(DEST)/$(includedir)/ni/Linux-Arm
	install -p $(COMPILED_LIB)/Linux-Arm/*.h \
		$(DEST)/$(includedir)/ni/Linux-Arm
	install -d $(DEST)/$(includedir)/ni/Linux-x86
	install -p $(COMPILED_LIB)/Linux-x86/*.h \
		$(DEST)/$(includedir)/ni/Linux-x86
	install -d $(DEST)/$(docdir)/$(PACKAGE)/html
	install -p $(CURDIR)/Documentation/OpenNI_UserGuide.pdf \
		$(DEST)/$(docdir)/$(PACKAGE)/
	install -p $(CURDIR)/Source/DoxyGen/html/*.* \
		$(DEST)/$(docdir)/$(PACKAGE)/html
	install -d $(DEST)/var/lib/ni
	install -d $(DEST)/etc/primesense

override_dh_auto_clean:
	dh_auto_clean
	rm -rf -- $(COMPILED_BASE)/CreateRedist/Final
	rm -rf -- $(COMPILED_BASE)/CreateRedist/Output
